/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
/* 03. Navigation */

.nav-trigger {
  margin: 0px 0px 0px 15px;
  padding-top: 10px;
  float: left;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 10;
  height: 40px;
  width: 40px;  
}

.nav-trigger .bar {
  width: 40px;
  height: 2px;
  background: #fff;
  margin: 6px 0 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#navigation {
  width: 500px;
  background: #fff;
  position: fixed;
  top: 0;
  left: -500px;
  height: 100%;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

#navigation .menu-item a{
    text-decoration: none!important;
}

#navigation .nav-trigger {
  position: absolute;
  top: -40px;
  left: -5px;
  opacity: 0;
}

#navigation .nav-trigger .bar {
  background: #000;
  opacity: 0;
  margin: 0;
}

#navigation .nav-trigger .bar:first-child {
  margin-top: 17px;
  opacity: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#navigation .nav-trigger .bar:last-child {
  opacity: 1;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: -5px;
}

#navigation .inner {
  margin: 60px;
  position: relative;
  padding-top: 40px;
}

#navigation hr {
  opacity: .3;
  margin: 40px 0;
}

@media screen and (max-width: 768px) {
  #navigation hr {
    margin: 20px 0;
  }
}

#navigation p {
  color: #3D3D3D;
  font-size: 1.3em;
  opacity: .7;
  font-family: "Playfair Display", Georgia, serif;
}

ul.menu, ul.menu-small {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

ul.menu li, ul.menu-small li {
  padding: 0;
  margin: 15px 0;
}

ul.menu li:first-child, ul.menu-small li:first-child {
  margin-top: 0;
}

ul.menu li:last-child, ul.menu-small li:last-child {
  margin-bottom: 0;
}

ul.menu li a, ul.menu-small li a {
  display: block;
  color: #3D3D3D;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  font-size: 0.8em;
  font-family: "Nexa Bold", Verdana, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

ul.menu li a:hover, ul.menu-small li a:hover {
  text-decoration: none;
  opacity: .5;
}

ul.menu-small li {
  margin: 15px 10px;
  display: inline-block;
}

ul.menu-small li:first-child {
  margin-left: 0;
}

ul.menu-small li:last-child {
  margin-right: 0;
}

body.menu-active {
  background: #fff;
}

body.menu-active .toggleContainer * {
  color: #fff;
}

body.menu-active header .nav-trigger {
  opacity: 0;
  margin: 10px 0px 0px 0px;
}

body.menu-active header.nav-sticky.elementor-sticky--active .nav-trigger{
  margin: 0px;
}

body.menu-active #navigation .nav-trigger {
  opacity: 1;
}

body.menu-active .container-fluid {
  opacity: 0.9;
}

/* Sticky Header */
.nav-sticky.elementor-sticky--active{
  transition: all 0.3s; /* Efek transisi saat berubah */
}

.nav-sticky.elementor-sticky--active.theridge-sticky-active{
  background: #FFF;
  background-color: #FFF;
  padding: 5px 30px 5px 30px!important;
}

.nav-sticky.elementor-sticky--active.theridge-sticky-active .elementor-element-populated{
  padding: 10px;
}

.nav-sticky.elementor-sticky--active.theridge-sticky-active .nav-trigger .bar {
  background: #101010;
}

.nav-sticky.elementor-sticky--active.theridge-sticky-active .btn-reserve .elementor-widget-container a{
  color: #101010;
}

.nav-sticky.elementor-sticky--active.theridge-sticky-active .btn-reserve .elementor-widget-container{
  border-color: #101010;
}

.nav-sticky.elementor-sticky--active.theridge-sticky-active .the-ridge-logo img{
  filter: invert(1) hue-rotate(0deg) brightness(0.5);
  fill: #101010;
  width: 25%;
}
#theRidgeCarousel.the-ridge-carousel .swiper-pagination.swiper-pagination-bullets span.swiper-pagination-bullet{
    width: 100px;
    border: none;
    text-indent: -666666px;
    height: 1px;
    padding: 0;
    background: #CECECE;
    cursor: pointer;
    border-radius: 0!important;
    position: relative;
}

#theRidgeCarousel.the-ridge-carousel .swiper-pagination.swiper-pagination-bullets span.swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: 0;
    right: 0;
    background: transparent; /* Pastikan tidak ada warna latar belakang */
    cursor: pointer; /* Pastikan kursor menunjukkan bahwa ini dapat diklik */
    z-index: -1; /* Pastikan elemen ini berada di belakang elemen utama */
}

#theRidgeCarousel.the-ridge-carousel .swiper-pagination.swiper-pagination-bullets span.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #101010;
}

#theRidgeCarousel.the-ridge-carousel .swiper-slide.swiper-slide-active{
  opacity: 0.4;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

.the-ridge-sectiom ul, .the-ridge-sectiom ol {
    margin: 0px;
    padding: 10px 15px;
}

@media screen and (min-width: 768px) {
  body.menu-active .container-fluid {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  body.menu-active #navigation {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

@media screen and (max-width: 768px) {
  body.menu-active .container-fluid {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #navigation .inner {
    margin: 60px 30px;
    padding-top: 20px;
  }
  ul.menu-small li {
    display: block;
    margin: 15px 0;
  }
  ul.menu li, ul.menu-small li {
    margin: 20px 0;
    font-size: 1.2em;
  }
  body.menu-active #navigation {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  .nav-sticky.elementor-sticky--active.theridge-sticky-active .the-ridge-logo img{
    filter: invert(1) hue-rotate(0deg) brightness(0.5);
    fill: #101010;
    width: auto;
  }
  .nav-sticky.elementor-sticky--active.theridge-sticky-active{
    padding: 0px 10px 0px 10px!important;
  }
  .nav-sticky.elementor-sticky--active.theridge-sticky-active .the-ridge-nav-column{
    height: inherit;
  }
  .nav-sticky.elementor-sticky--active.theridge-sticky-active .elementor-element-populated{
    padding: 10px 5px;
  }
}

@media screen and (max-width: 480px) {
  #navigation {
    width: 100%;
    overflow-y: scroll;
    display: block;
  }
}